*
{
  box-sizing: border-box;
}

.jumbotron
{
  height: 100px;
  background-image: linear-gradient(to right , red,purple);
}

.nav-bar
{
  display: flex;
}


.nav-bar>a
{
  color: #fff;
  flex: 1;
  text-decoration: none;
}


img
{
  box-sizing: border-box;
  margin: 10px;
  border-radius: 48%;
  width: 15%;
  height: 85%;
}


.alldiv
{
  font-size: 20px;
  color: purple;
  width: 100%;
  margin: 3%;
}


.alldiv>label
{
  /* margin: 0px auto; */
  width: 16%;
  text-align: center;
}


.usersinfo
{
    border-bottom: 2px solid purple;
  margin: 0% 0% 3% 0%;
  display: flex;
}

.usersinfo>img
{
  margin-left: 3%;
  flex:.5;
}


.usersinfo>.userdescription
{

  flex:3;
  padding:0% 0% 0% 5%;
  height: 100%;
  margin-top: 6%;
}


.usersinfo>.userdescription>.follow
{
  width: 100%;
  height: 100%;
  text-align: right;
}


.usersinfo>.userdescription>.follow>a
{
  margin-right: 20%;
}
