<html >

<head>
	<title>Account Recovery</title>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>
	<div class="bon">
		<div class="bony">
			<form action="recovery.html">
			<h3>Email verification link has been send.</h3>
			<p style="text-align: center" >We have send  verification link on your email addree please confirm your email address and login in to your account</p>

		
				<p style="text-align:center">Go back to  <a class="link" href="login.html"> <p align="center"><i><b>Login Page</b></i></a></p>


			
				
			</p>
		</div></div>

</body>
</html>