*
{
  box-sizing: border-box;
}

.header
{

  height: 100px;
  margin-top: 1%;
  background-image: linear-gradient(to right , red,purple);
}

.nav-bar
{
  display: flex;
}


.nav-bar>a
{
  margin-top: 3%;
  color: #fff;
  flex: 1;
  text-decoration: none;
}

.nav-bar>.frm
{
  flex: 1;
  margin-top: 3%;
}

.nav-bar>.frm>form>input
{
  border-radius: 20px;
  border: none;
  text-align: center;

}


.alldiv
{
  font-size: 20px;
  color: purple;
  width: 100%;
  margin: 3%;
}

img
{
  box-sizing: border-box;
  margin: 10px;
  border-radius: 48%;
  width: 15%;
  height: 85%;
}


.alldiv>label
{
  /* margin: 0px auto; */
  width: 16%;
  text-align: center;
}


.usersinfo
{
    border-bottom: 2px solid purple;
  margin: 0% 0% 3% 0%;
  display: flex;
}

.usersinfo>img
{
  margin-left: 3%;
  flex:.5;
}


.usersinfo>.userdescription
{

  flex:3;
  padding:0% 0% 0% 5%;
  height: 100%;
  margin-top: 6%;
}


.usersinfo>.userdescription>.follow
{
  width: 100%;
  height: 100%;
  text-align: right;
}


.usersinfo>.userdescription>.follow>a
{
  margin-right: 20%;
}

.scrollimage
{
  border-radius: 100px;
  border: 2px solid purple;
  /* background-color: #f2e6ff; */
}

.scrollimage>.nearby>img
{
  box-sizing: border-box;
  margin: 10px;
  border-radius: 48%;
  width: 11%;
  height: 85%;
}
.nearby
{
  display: inline;
}


.scrollimage>.nearby>img:nth-child(1)
{
    margin-left: 5%;
    /* display: block; */
}

/* .scrollimage>.nearby>a:nth-child(1)
{
  box-sizing: border-box;
  display: block;
  margin: 10px;
  margin-left: 10%;
}

.scrollimage>.nearby>a
{
  box-sizing: border-box;
  display: block;
  margin: 10px;
  margin-left: 10%;
} */


.around-you
{
  width: 100%;
}

.around-you>label
{
  font-size: 20px;
  margin-left: 5%;
  color: purple;
}
