*
{
  box-sizing: border-box;
  background-color: #fbfbfb;
}

.header
{
  height: auto;
  margin-top: 2%;
  background-color: #fbfbfb;
}

.nav-bar
{
  height: 13vh;
  display: flex;
  background-color: inherit;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


.logo
{
  display: inline;
  flex:1;
}
.logo>img
{
  margin-left: 50%;
  color: #fff;
  box-sizing: border-box;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  margin-bottom: 3vw;
}


.nav-bar>a
{
  box-sizing: border-box;
  margin-top: 1.7%;
  color: #ccc;
  flex: 1;
  text-decoration: none;
}


.singleuser
{
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.nav-bar>a>span
{
  font-size:20px;
  margin-left: 50%;
  color: #aaa;
}

.row>div
{
  margin-top: 30px;
}


.search
{
  width: 100%;
}

.search>input
{
  width: 50%;
  margin: 0px auto;
  text-align: center;
}


.aroundyou>label
{
  width: 100%;
  text-align: center;
  font-weight:bold;
  text-decoration: underline;
}


.profile
{
border-right: 2px solid #ccc;
}

.profile>img
{
  width: 120px;
  border-radius: 200px;
}

.description
{
  display: block;
}


.description>p
{
  display: block;
}


.suggestuser
{
  margin-left: 13%;
}


.follow
{
  width: 60%;
  display: block;
}

.follow>button>a
{
  background-color:inherit;
  text-decoration: none;
  color: inherit;
  text-align: right;
}

.follow>label:first-child>i
{
  font-size: 20px;
  margin-right: 10px;
}


.follow>label
{
  display: block;
  margin-top: 10px;
}

.follow>button
{
  background-color: #17a2b8;
  color: #fff;
  margin-bottom: 20px;
}

.arounddescription
{
  display: flex;
}

.user-content
{
  flex: 2;
  margin-top: 10%;
}


.user-img
{
  flex: 1;
  margin-top: 10%;
  margin-bottom: 10%;
  border-right: 1px solid #ccc;
}

.user-img>img
{
  margin-left: 10%;
  width: 100px;
  border-radius: 200px;
}


.user-content>label
{
  margin-left: 30px;
  display: block;
}

.user-content>button>a
{
  color: inherit;
  background-color: inherit;
}


.user-content>button
{
  margin-left: 30px;
  display: block;
  color: #fff;
  background-color:#17a2b8 ;
}
