*
{
  box-sizing: border-box;
}
.nav-bar
{
  margin-top: 10px;
  background-image: linear-gradient(to right , red,purple);
}

.stock
{
  width: 60%;
  display: flex;
  margin: 0px auto;
}


.stock>a
  {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    flex: 1;

  }


.nav-bar
{
  display: flex;
}


.nav-bar>a
{
  box-sizing: border-box;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #fff;
  flex: 1;
  text-decoration: none;
}


.form
{
  margin-top: 2%;
  margin-bottom: 2%;
}

.nav-bar>.form>input
{
  border-radius: 20px;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}


.nav-bar>a>span
{
  color: #fff;
  font-size: 20px;
}



.stock>a:nth-child(2)
  {
    margin-left: 40%;
    flex:1;
  }



.stock-manager
{
  display: flex;
}

.stock-manager>a
{
  flex: 1;
  text-align: center;
  background-color:#fff;
  font-size: 18px;
  color: navy;
  text-decoration: none;
}


.Goods
{
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px;
  border-right: 2px solid red;
}


.Goods>label
{
  font-size: 20px;
  width: 100%;
  text-align: center;
  text-decoration:underline;
  color: purple;
}


.good-img
{
  background-color: none;
  margin-left: 2%;
}

img
{
  box-sizing: border-box;
  margin: 10px;
  border-radius: 10%;
  width: 200px;
  height: 200px;
}

.card
{
  border-bottom:3px solid  purple;
  margin-bottom: 20px;
}


.addingcart
  {
    position: relative;
    right: 0%;
    width: 100%;
    margin: 0px auto;
  }
.addingcart>label
{
  position: relative;
  text-align: right;
  right: 0%;
}

.addingcart>input
{
  margin-left: 14px;
}


.sell-good
{
  width: 60%;
  margin: 20vh auto;
}


.sell-good>input
{
  margin-top: 1.5vw;
  /* border: none; */
  /* border-bottom: 1px solid purple; */
}

.selling-stock>
{

}

.selling-stock>label
{
  text-decoration: underline;
  color: purple;
  width: 100%;
  text-align: center;
  font-size: 18px;
}


.sellingfrm>form>textarea
{
  text-align: center;
  border-radius: 20px;
}
.map
{
  color: purple;
}


#location
{
  color: magenta;
}



.logo
{
  display: inline;
  flex:1;
}
.logo>img
{
  color: #fff;
  box-sizing: border-box;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  margin-bottom: 3vw;
}



.search-icon
{
  display: none;
}

.lower-nav
{
  display: none;
}


@media screen and (min-width:1000px) {
.Goods{
    border-right: 1px solid red;
  }


.sellingfrm{

}

.stock > a{

  }


  .sellingfrm
  {
    position: fixed;
    top: 0%;
    right: 0%;
  }

}


@media screen and (max-width:1000px) {
.Goods{
    border-right: red;
  }

.sellingfrm{
    display: none;

}

.stock > a{

  }

.hide-small,.form-search
{
  display: none;
}
.search-icon
{
  display: inline;
  position: fixed;
  bottom: 2%;
  right: 2%;
  background-color: magenta;
  width: 7%;
  height: 9%;
  border-radius: 50%;
  z-index: 2;
}

.search-icon>a
{
  position: fixed;
  position: relative;
  bottom: 0px;
  right: 0px;
  margin-left:28%;
  margin-top: 24%;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  z-index: 2;
}

.lower-nav
{
  width: 70%;
  display: flex;
  border-top:2px solid #000;
  border-radius:200px;
  margin: 0px auto;
}
.lower-nav>a
{
  display: inline;
  flex: 1;
  margin-bottom: 30px;
  margin-top: 30px;
}

.lower-nav>a:first-child
{
  margin-left: 30px;
}


}
