*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.template{
  margin-bottom: 10px;
  margin-left: 10px;
}
.row{
  width: 100%
}
@media only screen and (max-width: 500px) {
  .img-logo{
    background: black;
    height: 50px;
    width: 50px;
    border-radius:50px;
    margin-left: 50%;
  }
  .img-logo2{
    background: black;
    height: 150px;
    width: 150px;
    border-radius:100px;
    margin-top: 50px;
  }
  .first{
    margin-left: auto;
  }
  .nav{
    border-bottom: 1px solid black;
    display: block;
  }
  .profile{
    height: 100vh;
  }
  .profile-section{

  }
  .video-section{
    min-width:100px;
    min-height: 200px;
    background: grey;
  }
}
@media only screen and (min-width: 500px) {
  .img-logo{
    background: black;
    height: 50px;
    width: 50px;
    border-radius:50px;
  }
  .img-logo2{
    background: black;
    height: 150px;
    width: 150px;
    border-radius:100px;
    margin-top: 50px;
  }
  .first{
    margin-left: auto;
  }
  .nav{
    border-bottom: 1px solid black;
  }

  .profile{
    height: 100vh;
  }
  .profile-section{
    border-right: 1px solid black;
  }
  .video-section{
    min-width:100px;
    min-height: 200px;
    background: grey;
  }
}
