{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="icon" href="{% static 'business/img/vibes.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
     integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'discover/discover.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/brands.min.js">

  </script>
    <meta charset="utf-8">
    <title>Vibes | Discover</title>
  </head>
  <body>
    <div class="header">
      <div class="nav-bar">
            <a href="#"> Vibes </a>



            <a href="{% url 'profile:profile' %}">
              <span class="fa fa-home"></span>

            </a>


            <a href="{% url 'groups:groups' %}">
              <span class="fa fa-users"></span>

            </a>

            <a href="{% url 'messaging:messaging' %}">
              <span class="fa fa-envelope"></span>

            </a>


            <a href="{% url 'business:business' %}">
              <span class="fas fa-business-time"></span>
            </a>

            <div class="frm">
              <form class="form horizontal-form" action="#" method="get">
                <input type="text" name="search" autocomplete="on" autofocus placeholder="Search">
                <input type="submit" name="" value="Search" class="fa fa-link">
              </form>
            </div>


      </div>
    </div>
    <div class="container">
      <div class="row">

        <div class="around-you">
            <label>Around you</label>
        </div>


        <div class="col-xm-12 col-sm-12 col-lg-12 col-xl-12 container scrollimage">
          <div class="nearby">
            <img src="{% static 'discover/img/robot.jpg' %}" alt="Img">
          </div>
          <div class="nearby">
            <img src="{% static 'discover/img/robot.jpg' %}" alt="Img">
          </div>
          <div class="nearby">
            <img src="{% static 'discover/img/robot.jpg' %}" alt="Img">
          </div>
          <div class="nearby">
            <img src="{% static 'discover/img/robot.jpg' %}" alt="Img">
          </div>




        </div>




        <div class="alldiv">
          <label> All</label>
        </div>


        <div class="col-xm-12 col-sm-12 col-lg-12 col-xl-12">

          <div class="usersinfo">

            <img src="{% static 'discover/img/robot.jpg' %}" alt="">

            <div class="userdescription">

              <h3>Name</h3>
              <label>Field</label>
              <br>
              <label>Location</label>
                <br>
                <div class="follow">
                  <a href="#">Follow</a>
                </div>
              </div>

          </div>
          <div class="usersinfo">

            <img src="{% static 'discover/img/robot.jpg' %}" alt="">

            <div class="userdescription">

              <h3>Name</h3>
              <label>Field</label>
              <br>
              <label>Location</label>
                <br>
                <div class="follow">
                  <a href="#">Follow</a>
                </div>
              </div>

          </div>
          <div class="usersinfo">

            <img src="{% static 'discover/img/robot.jpg' %}" alt="">

            <div class="userdescription">

              <h3>Name</h3>
              <label>Field</label>
              <br>
              <label>Location</label>
                <br>
                <div class="follow">
                  <a href="#">Follow</a>
                </div>
              </div>

          </div>


        </div>



      </div>
    </div>

    <div class="footer">

    </div>

  </body>
</html>
